@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Base */
        --background: 0 0% 4%;
        --foreground: 40 38% 94%;

        /* Surfaces */
        --card: 0 0% 8%;
        --card-foreground: 40 38% 94%;

        --popover: 0 0% 8%;
        --popover-foreground: 40 38% 94%;

        /* Brand / Gold */
        --primary: 45 65% 62%;;
        --primary-foreground: 0 0% 4%;

        --secondary: 0 0% 10%;
        --secondary-foreground: 40 38% 94%;

        --muted: 0 0% 10%;
        --muted-foreground: 40 7% 53%;

        --accent: 45 53% 55%;
        --accent-foreground: 0 0% 4%;

        --destructive: 0 72% 45%;
        --destructive-foreground: 0 0% 98%;

        /* UI */
        --border: 30 14% 16%;
        --input: 30 14% 16%;
        --ring: 45 53% 55%;

        /* Custom Gold Scale */
        --gold: 45 53% 55%;
        --gold-light: 43 63% 70%;
        --gold-dark: 45 45% 45%;

        /* Charcoal */
        --charcoal: 0 0% 8%;
        --charcoal-light: 0 0% 12%;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

html {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}

/* carousel testimonial*/
@layer utilities {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    .animate-marquee {
        animation: marquee 25s linear infinite;
    }

    .animate-marquee:hover {
        animation-play-state: paused;
    }
}